<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/js/main.js" type="text/javascript" defer></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Macondo&family=Montserrat:wght@300;400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <link rel="shortcut icon" href="/images/logo.svg" type="image/x-icon">
    <title>CraftsConnect</title>
</head>
<body>
    <header>
        <div class="logo">
            <h1 class="title">CraftsConnect</h1>
        </div>
        <div class="search">
            <input type="search" class="input search-input" placeholder="Search Crafts">
            <button class="btn search-btn">search</button>
        </div>
        <div class="icons">
            <span class="header-icon">
                <i class="fa fa-user" aria-hidden="true"></i>
            </span>
            <span class="header-icon">
                <i class="fa fa-heart-o" aria-hidden="true"></i>
            </span>
            <span class="header-icon">
                <a href=""><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
                <p class="para-text cart-number">0</p>
            </span>
        </div>
    </header>
    <nav>
        <ul class="nav-list">
            <li class="list-item"><a href="/index" class="nav-link">Home</a></li>
            <li class="list-item"><a href="/about" class="nav-link">About</a></li>
            <li class="list-item"><a href="/crafts" class="nav-link">Crafts</a></li>
            <li class="list-item"><a href="/services" class="nav-link active">Services</a></li>
            <li class="list-item"><a href="/contact" class="nav-link">Contact</a></li>
        </ul>
    </nav>

    <!-- Main -->
    <main>
        <section id="cart">
            <h2 class="title">Cart Summary</h2>
            <div class="cart-head">
                <div>ID</div>
                <div>Item</div>
                <div>Image</div>
                <div>Price</div>
                <div>Quantity</div>
                <div>Total</div>
            </div>
            <div class="cart-items">
                <div class="item-id">1</div>
                <div class="cart-name">
                    <p>Bird Painting</p>
                </div>
                <div class="cart-img">
                    <img src="https://images.unsplash.com/photo-1579965342575-16428a7c8881?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8cGFpbnRpbmclMjBhcnR8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60" alt="">
                </div>
                <div class="cart-price">
                    <p>GHC 500</p>
                </div>
                <div class="cart-qty">
                    <p>2</p>
                </div>
                <div class="cart-total-price">
                    <p>GHC 1000</p>
                </div>
            </div>
            <div class="cart-items">
                <div class="item-id">2</div>
                <div class="cart-name">
                    <p>Bird Painting</p>
                </div>
                <div class="cart-img">
                    <img src="https://images.unsplash.com/photo-1579965342575-16428a7c8881?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8cGFpbnRpbmclMjBhcnR8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60" alt="">
                </div>
                <div class="cart-price">
                    <p>GHC 500</p>
                </div>
                <div class="cart-qty">
                    <p>2</p>
                </div>
                <div class="cart-total-price">
                    <p>GHC 1000</p>
                </div>
            </div>
            <div class="cart-buttons">
                <a href="/crafts" class="btn continue-shopping-btn">Continue Shopping</a>
                <a href="" class="btn checkout-btn">Proceed To Checkout</a>
                <p class="para-text total-amount">
                    Amount: GHC 2000
                </p>
            </div>
            

        </section>
    </main>

    <!-- Footer -->
    <footer>
        <div class="footer">
            <div class="footer-nav">
                <h3 class="title">Navigation</h3>
                <ul>
                    <li class="list-item"><a href="/index" class="nav-link">Home</a></li>
                    <li class="list-item"><a href="/about" class="nav-link">About</a></li>
                    <li class="list-item"><a href="/crafts-sales" class="nav-link">Crafts</a></li>
                    <li class="list-item"><a href="/craftsService" class="nav-link active">Services</a></li>
                    <li class="list-item"><a href="/contact" class="nav-link">Contact</a></li>
                </ul>
                <p class="para-text">Join as a craftsman <a href="/craftsmanSignup" class="craft-link">here</a></p>
            </div>
            <div class="footer-contact">
                <h3 class="title">Contact Info</h3>
                <div class="address">
                    <div>
                        <span>
                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                        </span>
                        <p class="para-text">
                            AR 22 St.Beige Link, <br>Accra-Ghana
                        </p>
                    </div>
                    <div>
                        <span>
                            <i class="fa fa-phone" aria-hidden="true"></i>
                        </span>
                        <p class="para-text">
                            +233 555 000 0000
                        </p>
                    </div>
                    <div>
                        <span>
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                        </span>
                        <a href="mailto:someone@example.com" class="nav-link contact-email">someone@example.com</a>
                    </div>
                </div>
            </div>    
        </div>
        <p class="para-text copyright">
            Copyright&copy;2022 All rights reserved
        </p>
    </footer>
</body>
</html>